* text=auto

*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.vcxproj.user text eol=crlf
*.cpp text eol=crlf
*.h text eol=crlf
*.hpp text eol=crlf
*.c text eol=crlf
*.rc text eol=crlf
*.txt text eol=crlf
*.md text eol=lf

*.ico binary
*.bmp binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.lib binary
*.pdf binary
